<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0, Copyright 2009 Jason Proctor</string>
	<key>CFBundleIdentifier</key>
	<string>com.prophetvs.editor.ControlMapper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VS Control Mapper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>Java</key>
	<dict>
		<key>JVMVersion</key>
		<string>1.4+</string>
		<key>MainClass</key>
		<string>com.prophetvs.editor.ControlMapper</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/vs.jar</string>
	</dict>
</dict>
</plist>
